<!-- Validation failure messages -->
<% if @pregnancy.errors.any? %>
  <% @pregnancy.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit pregnancy #<%= @pregnancy.id %>
</h1>

<hr>

<!-- Form pregnancy start -->
<form action="/update_pregnancy/<%= @pregnancy.id %>" method="post">
<!-- Form pregnancy end -->

  <!-- Label and input for cattle_id start -->
  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <!-- Input for cattle_id start -->
    <input type="text" id="cattle_id" name="cattle_id" class="form-control" value="<%= @pregnancy.cattle_id %>">
    <!-- Input for cattle_id end -->
  </div>
  <!-- Label and input for cattle_id end -->

  <!-- Label and input for brinco start -->
  <div class="form-group">
    <label for="brinco">
      Brinco
    </label>

    <!-- Input for brinco start -->
    <input type="text" id="brinco" name="brinco" class="form-control" value="<%= @pregnancy.brinco %>">
    <!-- Input for brinco end -->
  </div>
  <!-- Label and input for brinco end -->

  <!-- Label and input for touro start -->
  <div class="form-group">
    <label for="touro">
      Touro
    </label>

    <!-- Input for touro start -->
    <input type="text" id="touro" name="touro" class="form-control" value="<%= @pregnancy.touro %>">
    <!-- Input for touro end -->
  </div>
  <!-- Label and input for touro end -->

  <!-- Label and input for prenha start -->
  <div class="form-group">
    <label for="prenha">
      Prenha
    </label>

    <!-- Input for prenha start -->
    <input type="text" id="prenha" name="prenha" class="form-control" value="<%= @pregnancy.prenha %>">
    <!-- Input for prenha end -->
  </div>
  <!-- Label and input for prenha end -->

  <button class="btn btn-block btn-outline-secondary">
    Update pregnancy
  </button>
</form>

<hr>

<a href="/pregnancies">
  Go back
</a>
