<h1>
  Edit pregnancy #<%= @pregnancy.id %>
</h1>

<hr>

<form action="/update_pregnancy/<%= @pregnancy.id %>" method="post">

  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <%= select_tag(:cattle_id, options_from_collection_for_select(Cattle.all, :id, :brinco, @pregnancy.cattle_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="brinco">
      Brinco
    </label>

    <input type="text" id="brinco" name="brinco" class="form-control" value="<%= @pregnancy.brinco %>">
  </div>

  <div class="form-group">
    <label for="touro">
      Touro
    </label>

    <input type="text" id="touro" name="touro" class="form-control" value="<%= @pregnancy.touro %>">
  </div>

  <div class="form-group">
    <label for="prenha">
      Prenha
    </label>

    <input type="text" id="prenha" name="prenha" class="form-control" value="<%= @pregnancy.prenha %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update pregnancy
  </button>
</form>

<hr>

<a href="/pregnancies">
  Go back
</a>
