<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All pregnancies
    </h1>

    <a href="/pregnancies/new" class="btn btn-block btn-outline-secondary">
      Add a new pregnancy
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "pregnancy_templates/pregnancies_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Cattle
        </th>

        <th>
          Brinco
        </th>

        <th>
          Touro
        </th>

        <th>
          Prenha
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @pregnancies.each do |pregnancy| %>
      <tr>
        <td>
          <%= pregnancy.id %>
        </td>

        <td>
          <% if pregnancy.cattle.present? %>
            <a href="/cattles/<%= pregnancy.cattle.id %>">
              <%= pregnancy.cattle.brinco %>
            </a>
          <% end %>
        </td>

        <td>
          <%= pregnancy.brinco %>
        </td>

        <td>
          <%= pregnancy.touro %>
        </td>

        <td>
          <%= pregnancy.prenha %>
        </td>

        <td>
          <%= time_ago_in_words(pregnancy.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(pregnancy.updated_at) %> ago
        </td>

        <td>
          <a href="/pregnancies/<%= pregnancy.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @pregnancies, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
