<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Pregnancy #<%= @pregnancy.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/pregnancies" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/pregnancies/<%= @pregnancy.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit pregnancy
        </a>
      </div>

      <div class="col">
        <a href="/delete_pregnancy/<%= @pregnancy.id %>" class="btn btn-block btn-outline-secondary">
          Delete pregnancy
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Cattle
      </dt>
      <dd>
        <% if @pregnancy.cattle.present? %>
          <a href="/cattles/<%= @pregnancy.cattle_id %>">
            <%= @pregnancy.cattle.brinco %>
          </a>
        <% end %>
      </dd>

      <dt>
        Brinco
      </dt>
      <dd>
        <%= @pregnancy.brinco %>
      </dd>

      <dt>
        Touro
      </dt>
      <dd>
        <%= @pregnancy.touro %>
      </dd>

      <dt>
        Prenha
      </dt>
      <dd>
        <%= @pregnancy.prenha %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@pregnancy.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@pregnancy.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

