<% if @vaccination.errors.any? %>
  <% @vaccination.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit vaccination #<%= @vaccination.id %>
</h1>

<hr>

<form action="/update_vaccination/<%= @vaccination.id %>" method="post">

  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <%= select_tag(:cattle_id, options_from_collection_for_select(Cattle.all, :id, :brinco, @vaccination.cattle_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="brinco">
      Brinco
    </label>

    <input type="text" id="brinco" name="brinco" class="form-control" value="<%= @vaccination.brinco %>">
  </div>

  <div class="form-group">
    <label for="tipo_vacina">
      Tipo vacina
    </label>

    <input type="text" id="tipo_vacina" name="tipo_vacina" class="form-control" value="<%= @vaccination.tipo_vacina %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update vaccination
  </button>
</form>

<hr>

<a href="/vaccinations">
  Go back
</a>
