<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Vaccination #<%= @vaccination.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/vaccinations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/vaccinations/<%= @vaccination.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit vaccination
        </a>
      </div>

      <div class="col">
        <a href="/delete_vaccination/<%= @vaccination.id %>" class="btn btn-block btn-outline-secondary">
          Delete vaccination
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Cattle
      </dt>
      <dd>
        <% if @vaccination.cattle.present? %>
          <a href="/cattles/<%= @vaccination.cattle_id %>">
            <%= @vaccination.cattle.brinco %>
          </a>
        <% end %>
      </dd>

      <dt>
        Brinco
      </dt>
      <dd>
        <%= @vaccination.brinco %>
      </dd>

      <dt>
        Tipo vacina
      </dt>
      <dd>
        <%= @vaccination.tipo_vacina %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@vaccination.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@vaccination.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

