<h1>
  Edit cattle sale #<%= @cattle_sale.id %>
</h1>

<hr>

<form action="/update_cattle_sale/<%= @cattle_sale.id %>" method="post">

  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <%= select_tag(:cattle_id, options_from_collection_for_select(Cattle.all, :id, :brinco, @cattle_sale.cattle_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="brinco">
      Brinco
    </label>

    <input type="text" id="brinco" name="brinco" class="form-control" value="<%= @cattle_sale.brinco %>">
  </div>

  <div class="form-group">
    <label for="peso">
      Peso
    </label>

    <input type="text" id="peso" name="peso" class="form-control" value="<%= @cattle_sale.peso %>">
  </div>

  <div class="form-group">
    <label for="preco_por_kilo">
      Preco por kilo
    </label>

    <input type="text" id="preco_por_kilo" name="preco_por_kilo" class="form-control" value="<%= @cattle_sale.preco_por_kilo %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update cattle sale
  </button>
</form>

<hr>

<a href="/cattle_sales">
  Go back
</a>
