<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Cattle sale #<%= @cattle_sale.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/cattle_sales" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/cattle_sales/<%= @cattle_sale.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit cattle sale
        </a>
      </div>

      <div class="col">
        <a href="/delete_cattle_sale/<%= @cattle_sale.id %>" class="btn btn-block btn-outline-secondary">
          Delete cattle sale
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Cattle
      </dt>
      <dd>
        <% if @cattle_sale.cattle.present? %>
          <a href="/cattles/<%= @cattle_sale.cattle_id %>">
            <%= @cattle_sale.cattle.brinco %>
          </a>
        <% end %>
      </dd>

      <dt>
        Brinco
      </dt>
      <dd>
        <%= @cattle_sale.brinco %>
      </dd>

      <dt>
        Peso
      </dt>
      <dd>
        <%= @cattle_sale.peso %>
      </dd>

      <dt>
        Preco por kilo
      </dt>
      <dd>
        <%= @cattle_sale.preco_por_kilo %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@cattle_sale.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@cattle_sale.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

