<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Market price #<%= @market_price.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/market_prices" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/market_prices/<%= @market_price.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit market price
        </a>
      </div>

      <div class="col">
        <a href="/delete_market_price/<%= @market_price.id %>" class="btn btn-block btn-outline-secondary">
          Delete market price
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Last update
      </dt>
      <dd>
        <%= @market_price.last_update %>
      </dd>

      <dt>
        Observation
      </dt>
      <dd>
        <%= @market_price.observation %>
      </dd>

      <dt>
        Age group
      </dt>
      <dd>
        <%= @market_price.age_group %>
      </dd>

      <dt>
        Gender
      </dt>
      <dd>
        <%= @market_price.gender %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @market_price.price %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@market_price.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@market_price.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

