<h1>
  Edit death #<%= @death.id %>
</h1>

<hr>

<!-- Form death start -->
<form action="/update_death/<%= @death.id %>" method="post">
<!-- Form death end -->

  <!-- Label and input for cattle_id start -->
  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <!-- Input for cattle_id start -->
    <%= select_tag(:cattle_id, options_from_collection_for_select(Cattle.all, :id, :brinco, @death.cattle_id), :class => "form-control") %>
    <!-- Input for cattle_id end -->
  </div>
  <!-- Label and input for cattle_id end -->

  <!-- Label and input for brinco start -->
  <div class="form-group">
    <label for="brinco">
      Brinco
    </label>

    <!-- Input for brinco start -->
    <input type="text" id="brinco" name="brinco" class="form-control" value="<%= @death.brinco %>">
    <!-- Input for brinco end -->
  </div>
  <!-- Label and input for brinco end -->

  <!-- Label and input for causa start -->
  <div class="form-group">
    <label for="causa">
      Causa
    </label>

    <!-- Input for causa start -->
    <input type="text" id="causa" name="causa" class="form-control" value="<%= @death.causa %>">
    <!-- Input for causa end -->
  </div>
  <!-- Label and input for causa end -->

  <button class="btn btn-block btn-outline-secondary">
    Update death
  </button>
</form>

<hr>

<a href="/deaths">
  Go back
</a>
