<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Activity log #<%= @activity_log.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/activity_logs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/activity_logs/<%= @activity_log.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit activity log
        </a>
      </div>

      <div class="col">
        <a href="/delete_activity_log/<%= @activity_log.id %>" class="btn btn-block btn-outline-secondary">
          Delete activity log
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User name
      </dt>
      <dd>
        <%= @activity_log.user_name %>
      </dd>

      <dt>
        Action
      </dt>
      <dd>
        <%= @activity_log.action %>
      </dd>

      <dt>
        Activity description
      </dt>
      <dd>
        <%= @activity_log.activity_description %>
      </dd>

      <dt>
        File name
      </dt>
      <dd>
        <%= @activity_log.file_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@activity_log.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@activity_log.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

