<% if @cattle.errors.any? %>
  <% @cattle.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit cattle #<%= @cattle.id %>
</h1>

<hr>

<form action="/update_cattle/<%= @cattle.id %>" method="post">

  <div class="form-group">
    <label for="brinco">
      Brinco
    </label>

    <input type="text" id="brinco" name="brinco" class="form-control" value="<%= @cattle.brinco %>">
  </div>

  <div class="form-group">
    <label for="data_compra_ou_desmame">
      Data compra ou desmame
    </label>

    <input type="text" id="data_compra_ou_desmame" name="data_compra_ou_desmame" class="form-control" value="<%= @cattle.data_compra_ou_desmame %>">
  </div>

  <div class="form-group">
    <label for="data_nascimento">
      Data nascimento
    </label>

    <input type="text" id="data_nascimento" name="data_nascimento" class="form-control" value="<%= @cattle.data_nascimento %>">
  </div>

  <div class="form-group">
    <label for="origem">
      Origem
    </label>

    <input type="text" id="origem" name="origem" class="form-control" value="<%= @cattle.origem %>">
  </div>

  <div class="form-group">
    <label for="raca">
      Raca
    </label>

    <input type="text" id="raca" name="raca" class="form-control" value="<%= @cattle.raca %>">
  </div>

  <div class="form-group">
    <label for="sexo">
      Sexo
    </label>

    <input type="text" id="sexo" name="sexo" class="form-control" value="<%= @cattle.sexo %>">
  </div>

  <div class="form-group">
    <label for="pai">
      Pai
    </label>

    <input type="text" id="pai" name="pai" class="form-control" value="<%= @cattle.pai %>">
  </div>

  <div class="form-group">
    <label for="brinco_mae">
      Brinco mae
    </label>

    <input type="text" id="brinco_mae" name="brinco_mae" class="form-control" value="<%= @cattle.brinco_mae %>">
  </div>

  <div class="form-group">
    <label for="peso_entrada">
      Peso entrada
    </label>

    <input type="text" id="peso_entrada" name="peso_entrada" class="form-control" value="<%= @cattle.peso_entrada %>">
  </div>

  <div class="form-group">
    <label for="preco_por_kilo">
      Preco por kilo
    </label>

    <input type="text" id="preco_por_kilo" name="preco_por_kilo" class="form-control" value="<%= @cattle.preco_por_kilo %>">
  </div>

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @cattle.status %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update cattle
  </button>
</form>

<hr>

<a href="/cattles">
  Go back
</a>
