<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Cattle #<%= @cattle.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/cattles" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/cattles/<%= @cattle.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit cattle
        </a>
      </div>

      <div class="col">
        <a href="/delete_cattle/<%= @cattle.id %>" class="btn btn-block btn-outline-secondary">
          Delete cattle
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Brinco
      </dt>
      <dd>
        <%= @cattle.brinco %>
      </dd>

      <dt>
        Data compra ou desmame
      </dt>
      <dd>
        <%= @cattle.data_compra_ou_desmame %>
      </dd>

      <dt>
        Data nascimento
      </dt>
      <dd>
        <%= @cattle.data_nascimento %>
      </dd>

      <dt>
        Origem
      </dt>
      <dd>
        <%= @cattle.origem %>
      </dd>

      <dt>
        Raca
      </dt>
      <dd>
        <%= @cattle.raca %>
      </dd>

      <dt>
        Sexo
      </dt>
      <dd>
        <%= @cattle.sexo %>
      </dd>

      <dt>
        Pai
      </dt>
      <dd>
        <%= @cattle.pai %>
      </dd>

      <dt>
        Brinco mae
      </dt>
      <dd>
        <%= @cattle.brinco_mae %>
      </dd>

      <dt>
        Peso entrada
      </dt>
      <dd>
        <%= @cattle.peso_entrada %>
      </dd>

      <dt>
        Preco por kilo
      </dt>
      <dd>
        <%= @cattle.preco_por_kilo %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @cattle.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@cattle.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@cattle.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "cattle_templates/cattle_pregnancies" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "cattle_templates/cattle_weightings" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "cattle_templates/cattle_vaccinations" %>
  </div>
</div>
